In [1]:
import json # import json module
import os
import os.path as pth
from glob import glob
import cv2
import matplotlib.image as img
import numpy as np
import pandas as pd 
import tensorflow as tf
import matplotlib.pyplot as plt
%matplotlib inline 
from PIL import Image 

import matplotlib.image as mpimg
import gc
import seaborn as sns
import sys

print('ready')

ready

In [2]:
train_df = pd.read_csv('./data/kaggle_FGVC/train.csv')


display(train_df)

,ImageId,EncodedPixels,Height,Width,ClassId,AttributesIds
0,00000663ed1ff0c4e0132b9b9ac53f6e,6068157 7 6073371 20 6078584 34 6083797 48 608...,5214,3676,6,"115,136,143,154,230,295,316,317"
1,00000663ed1ff0c4e0132b9b9ac53f6e,6323163 11 6328356 32 6333549 53 6338742 75 63...,5214,3676,0,"115,136,142,146,225,295,316,317"
2,00000663ed1ff0c4e0132b9b9ac53f6e,8521389 10 8526585 30 8531789 42 8537002 46 85...,5214,3676,28,163
3,00000663ed1ff0c4e0132b9b9ac53f6e,12903854 2 12909064 7 12914275 10 12919485 15 ...,5214,3676,31,"160,204"
4,00000663ed1ff0c4e0132b9b9ac53f6e,10837337 5 10842542 14 10847746 24 10852951 33...,5214,3676,32,219
...,...,...,...,...,...,...
333396,fffe20b555b98c3c1f26c8dfff275cbc,2712731 8 2715725 23 2718719 39 2721713 55 272...,3000,2001,28,163
333397,ffffbf7014a9e408bfbb81a75bc70638,71179 1 71678 3 72178 4 72678 4 73178 5 73679 ...,500,375,33,NaN
333398,ffffbf7014a9e408bfbb81a75bc70638,116648 5 117148 16 117648 22 118148 26 118647 ...,500,375,31,157
333399,ffffbf7014a9e408bfbb81a75bc70638,67711 1 68210 1 68709 2 69204 2 69208 3 69705 ...,500,375,31,157
333400,ffffbf7014a9e408bfbb81a75bc70638,63365 36 63852 77 64343 85 64838 89 65332 94 6...,500,375,10,"102,128,142,150,295,308,317"

In [3]:
with open('./data/kaggle_FGVC/label_descriptions.json') as json_file:
    label_data = json.load(json_file)



print(label_data['categories'])
print(' ')
print(label_data['attributes'])

[{'id': 0, 'name': 'shirt, blouse', 'supercategory': 'upperbody', 'level': 2}, {'id': 1, 'name': 'top, t-shirt, sweatshirt', 'supercategory': 'upperbody', 'level': 2}, {'id': 2, 'name': 'sweater', 'supercategory': 'upperbody', 'level': 2}, {'id': 3, 'name': 'cardigan', 'supercategory': 'upperbody', 'level': 2}, {'id': 4, 'name': 'jacket', 'supercategory': 'upperbody', 'level': 2}, {'id': 5, 'name': 'vest', 'supercategory': 'upperbody', 'level': 2}, {'id': 6, 'name': 'pants', 'supercategory': 'lowerbody', 'level': 2}, {'id': 7, 'name': 'shorts', 'supercategory': 'lowerbody', 'level': 2}, {'id': 8, 'name': 'skirt', 'supercategory': 'lowerbody', 'level': 2}, {'id': 9, 'name': 'coat', 'supercategory': 'wholebody', 'level': 2}, {'id': 10, 'name': 'dress', 'supercategory': 'wholebody', 'level': 2}, {'id': 11, 'name': 'jumpsuit', 'supercategory': 'wholebody', 'level': 2}, {'id': 12, 'name': 'cape', 'supercategory': 'wholebody', 'level': 2}, {'id': 13, 'name': 'glasses', 'supercategory': 'head', 'level': 2}, {'id': 14, 'name': 'hat', 'supercategory': 'head', 'level': 2}, {'id': 15, 'name': 'headband, head covering, hair accessory', 'supercategory': 'head', 'level': 2}, {'id': 16, 'name': 'tie', 'supercategory': 'neck', 'level': 2}, {'id': 17, 'name': 'glove', 'supercategory': 'arms and hands', 'level': 2}, {'id': 18, 'name': 'watch', 'supercategory': 'arms and hands', 'level': 2}, {'id': 19, 'name': 'belt', 'supercategory': 'waist', 'level': 2}, {'id': 20, 'name': 'leg warmer', 'supercategory': 'legs and feet', 'level': 2}, {'id': 21, 'name': 'tights, stockings', 'supercategory': 'legs and feet', 'level': 2}, {'id': 22, 'name': 'sock', 'supercategory': 'legs and feet', 'level': 2}, {'id': 23, 'name': 'shoe', 'supercategory': 'legs and feet', 'level': 2}, {'id': 24, 'name': 'bag, wallet', 'supercategory': 'others', 'level': 2}, {'id': 25, 'name': 'scarf', 'supercategory': 'others', 'level': 2}, {'id': 26, 'name': 'umbrella', 'supercategory': 'others', 'level': 2}, {'id': 27, 'name': 'hood', 'supercategory': 'garment parts', 'level': 2}, {'id': 28, 'name': 'collar', 'supercategory': 'garment parts', 'level': 2}, {'id': 29, 'name': 'lapel', 'supercategory': 'garment parts', 'level': 2}, {'id': 30, 'name': 'epaulette', 'supercategory': 'garment parts', 'level': 2}, {'id': 31, 'name': 'sleeve', 'supercategory': 'garment parts', 'level': 2}, {'id': 32, 'name': 'pocket', 'supercategory': 'garment parts', 'level': 2}, {'id': 33, 'name': 'neckline', 'supercategory': 'garment parts', 'level': 2}, {'id': 34, 'name': 'buckle', 'supercategory': 'closures', 'level': 2}, {'id': 35, 'name': 'zipper', 'supercategory': 'closures', 'level': 2}, {'id': 36, 'name': 'applique', 'supercategory': 'decorations', 'level': 2}, {'id': 37, 'name': 'bead', 'supercategory': 'decorations', 'level': 2}, {'id': 38, 'name': 'bow', 'supercategory': 'decorations', 'level': 2}, {'id': 39, 'name': 'flower', 'supercategory': 'decorations', 'level': 2}, {'id': 40, 'name': 'fringe', 'supercategory': 'decorations', 'level': 2}, {'id': 41, 'name': 'ribbon', 'supercategory': 'decorations', 'level': 2}, {'id': 42, 'name': 'rivet', 'supercategory': 'decorations', 'level': 2}, {'id': 43, 'name': 'ruffle', 'supercategory': 'decorations', 'level': 2}, {'id': 44, 'name': 'sequin', 'supercategory': 'decorations', 'level': 2}, {'id': 45, 'name': 'tassel', 'supercategory': 'decorations', 'level': 2}]


In [4]:
print(len(train_df['EncodedPixels'][0]))

print(train_df['EncodedPixels'][0])

21303

In [5]:
display(pd.DataFrame([train_df['Height'].describe(), train_df['Width'].describe()]).T.loc[['max', 'min', 'mean']])

num_classes = len(label_data['categories'])
num_attributes = len(label_data['attributes'])
print(f'Total # of classes: {num_classes}')
print(f'Total # of attributes: {num_attributes}')

           Height        Width
max   8688.000000  10717.00000
min    296.000000    151.00000
mean  2235.524021   1761.97925

Total # of classes: 46
Total # of attributes: 294

In [6]:
categories_df = pd.DataFrame(label_data['categories'])
attributes_df = pd.DataFrame(label_data['attributes'])
display(categories_df)

    id                                     name   supercategory  level
0    0                            shirt, blouse       upperbody      2
1    1                 top, t-shirt, sweatshirt       upperbody      2
2    2                                  sweater       upperbody      2
3    3                                 cardigan       upperbody      2
4    4                                   jacket       upperbody      2
5    5                                     vest       upperbody      2
6    6                                    pants       lowerbody      2
7    7                                   shorts       lowerbody      2
8    8                                    skirt       lowerbody      2
9    9                                     coat       wholebody      2
10  10                                    dress       wholebody      2
11  11                                 jumpsuit       wholebody      2
12  12                                     cape       wholebody      2
13  13                                  glasses            head      2
14  14                                      hat            head      2
15  15  headband, head covering, hair accessory            head      2
16  16                                      tie            neck      2
17  17                                    glove  arms and hands      2
18  18                                    watch  arms and hands      2
19  19                                     belt           waist      2
20  20                               leg warmer   legs and feet      2
21  21                        tights, stockings   legs and feet      2
22  22                                     sock   legs and feet      2
23  23                                     shoe   legs and feet      2
24  24                              bag, wallet          others      2
25  25                                    scarf          others      2
26  26                                 umbrella          others      2
27  27                                     hood   garment parts      2
28  28                                   collar   garment parts      2
29  29                                    lapel   garment parts      2
30  30                                epaulette   garment parts      2
31  31                                   sleeve   garment parts      2
32  32                                   pocket   garment parts      2
33  33                                 neckline   garment parts      2
34  34                                   buckle        closures      2
35  35                                   zipper        closures      2
36  36                                 applique     decorations      2
37  37                                     bead     decorations      2
38  38                                      bow     decorations      2
39  39                                   flower     decorations      2
40  40                                   fringe     decorations      2
41  41                                   ribbon     decorations      2
42  42                                    rivet     decorations      2
43  43                                   ruffle     decorations      2
44  44                                   sequin     decorations      2
45  45                                   tassel     decorations      2

In [7]:
my_category_list = [0,1,2,3,4,5,6,7,8,9,10,11,14,21,23]

for i in my_category_list:
    display(train_df[train_df['ClassId'] == i])
    print(' ')
    
tshirt_df = train_df[train_df['ClassId'] == 1]

,ImageId,EncodedPixels,Height,Width,ClassId,AttributesIds
1,00000663ed1ff0c4e0132b9b9ac53f6e,6323163 11 6328356 32 6333549 53 6338742 75 63...,5214,3676,0,"115,136,142,146,225,295,316,317"
119,0010ef2da53cd76ee26122a65f6e76ee,5153671 6 5158276 20 5162882 31 5167488 42 517...,4608,3072,0,"115,135,142,146,225,295,316,317"
222,002bc82e34205ecf66052749c8ff9e32,1303221 6 1305550 18 1307880 29 1310209 41 131...,2334,1522,0,"115,136,145,146,225,295,316,317"
239,0036f906cb15e240f113184b5eed8c69,116510 2 117157 6 117803 11 118445 20 119089 2...,650,433,0,"115,136,145,147,225,295,316,317"
283,0039366c35ed742e5bfc6a278b699720,752506 23 754090 70 755675 100 757265 110 7588...,1600,1067,0,"115,225,295,316,317"
...,...,...,...,...,...,...
333189,ffdc587a4b41cc4ff12c56e4fe06086b,249513 2 250713 6 251914 9 251929 5 253114 21 ...,1200,801,0,"147,316"
333211,ffe011e941a22c02ef0be02a922d44b7,6921499 3 6926776 9 6932054 15 6937331 19 6942...,5278,3519,0,"115,136,142,146,225,295,316,317"
333291,fff11e31ec0146bd469e5e3afa14a37a,289982 6 291001 16 292021 21 293043 25 294066 ...,1024,633,0,"115,136,295,316"
333309,fff132f7ce55db363a1afc4fda330ffc,2653567 3 2656560 11 2659556 15 2662553 18 266...,3000,1997,0,"115,136,142,146,225,295,316,317"
333395,fffe20b555b98c3c1f26c8dfff275cbc,2446541 2 2449539 5 2452536 10 2455534 14 2458...,3000,2001,0,"115,136,142,146,225,295,316,322"

,ImageId,EncodedPixels,Height,Width,ClassId,AttributesIds
10,0000fe7c9191fba733c8a69cfaf962b7,1343707 9 1346138 27 1348569 44 1351000 62 135...,2448,2448,1,"0,115,145,146,295,316,317"
24,00048c3a2fb9c29340473c4cfc06424a,257702 10 258670 26 259640 36 260572 6 260610 ...,975,650,1,"11,115,135,145,146,295,316,317"
31,0006ea84499fd9a06fefbdf47a5eb4c0,73327 6 74328 18 75330 37 76335 63 77340 88 78...,1000,667,1,"11,135,146,295"
37,000775b6b5e27b011dc8bba2d7b85211,309670 11 311259 33 312848 55 314440 72 316033...,1600,1067,1,"115,136,145,295,314,317"
54,000b3ec2c6eaffb491a5abb72c2e3e26,458445 17 460731 51 463017 85 465303 115 46759...,2310,1536,1,"0,115,136,145,147,295,314,317"
...,...,...,...,...,...,...
333273,ffec8295f37df6ea12eecbb60d2c23d4,2599516 1 2602970 3 2606425 4 2609879 6 261333...,3456,2304,1,"0,115,136,145,146,295,316,317"
333322,fff36676cdac2dd8d057783f0e9f24cc,1401684 4 1403933 12 1403962 4 1406137 4 14061...,2256,1500,1,"0,317"
333336,fff3ae4585d776922829ceb887789be4,122780 3 123500 6 123511 7 124220 22 124940 24...,720,480,1,"14,115,136,145,147,295,316,317"
333351,fff65379ba62e3f6498a20e9cc2a99fe,5913102 5 5917131 10 5921163 12 5925195 14 592...,4032,3024,1,"0,115,136,146,295,301,317"
333363,fffb65463df408e308983ef743b77491,2224221 3 2227216 8 2230211 13 2233206 18 2236...,3000,2247,1,"0,115,137,145,147,295,316,317"

,ImageId,EncodedPixels,Height,Width,ClassId,AttributesIds
296,003a6ca3eaa7886da61ed2de2c5e8d27,5158311 19 5161042 23 5163772 28 5163869 5 516...,2733,3630,2,"136,147,295,316,317"
298,003ad8a37d2190bd944a8968fb0906e2,18556042 9 18561335 28 18566629 46 18571922 65...,5304,7952,2,"115,136,142,147,295,316,317"
314,003c831a9e84ee589d67c4d91786f525,48287 3 48882 9 49468 24 50049 44 50635 64 512...,600,371,2,"115,135,142,147,295,316,317"
580,00689c9d05028aad72aa2a9dfccbd491,8143995 5 8147985 15 8151974 26 8155964 36 815...,4000,6000,2,"115,136,295,316,317"
664,007e66e7c2864eb3c1ef95cd3ab52687,5093384 3 5098565 11 5103747 17 5108928 25 511...,5184,3456,2,"115,136,145,146,295,316,317,328"
...,...,...,...,...,...,...
332358,ff3c229ab653661ecd5c857ef20e77db,92626 4 93271 11 93917 14 94564 16 95211 18 95...,650,433,2,"115,136,142,149,295,316,317"
332663,ff73f17eae6e03385dac85aa2e0ad415,3324489 3 3327332 10 3330176 16 3333021 21 333...,2848,4288,2,"115,136,145,146,316"
332943,ffa9ee64af28f111006fbdabf6db09e2,3117 63 4848 153 6616 206 8384 259 10012 69 10...,1800,1183,2,"115,145,147,295,316,317,328"
333213,ffe011e941a22c02ef0be02a922d44b7,3285868 49 3291072 147 3296311 210 3301584 238...,5278,3519,2,"115,136,145,146,295,316,317"
333290,fff11e31ec0146bd469e5e3afa14a37a,202276 4 203300 7 204324 6 205348 5 206372 5 2...,1024,633,2,"115,136,145,146,295,316,332"

,ImageId,EncodedPixels,Height,Width,ClassId,AttributesIds
44,000aac3870ea7c59ca0333ffa5327323,8621972 2 8625970 5 8629968 9 8633966 13 86379...,4000,6000,3,"115,136,145,147,225,295,316,317"
478,00573a530f2e9e4c203681547e259f52,13173 8 13958 25 14744 41 15529 52 16314 57 17...,789,800,3,"115,136,145,146,295,316,317"
486,0058f13eef5b1a66e42666bbbb834ca9,81846 13 81929 39 82831 37 82893 76 83816 153 ...,1000,800,3,"115,145,146,225,281,312,319"
679,007fb0d71cfa24fe496363d5198f706d,36357 3 37004 7 37374 9 37650 13 38015 22 3823...,650,433,3,"115,137,142,149,295,316,317"
1192,00f43ac0d027955e5fe6c99bd412fd8f,3248208 5 3251198 16 3254187 27 3257177 37 326...,3000,2000,3,"115,136,145,149,225,295,316,317"
...,...,...,...,...,...,...
331727,feb527d59d79e3b191ea21a06a3a72b3,82532 1 83131 3 83729 5 84328 7 84926 10 85525...,600,450,3,"115,136,145,151,225,295,316,317"
332161,ff0c12c7e53961891d3930a0a61c698e,4203322 1 4206584 5 4209846 8 4213108 11 42163...,3264,4912,3,"147,295,316,317"
333148,ffd7077c30443a0d3f1cb1e0588bf41c,6492408 2 6497591 8 6502774 13 6507958 18 6513...,5184,3456,3,"115,149,295,316,328"
333269,ffebc44ef1bbb5067632bfa26383e425,1873710 1 1876708 3 1879707 4 1882705 6 188570...,3000,2000,3,"115,136,145,147,295,316,317"
333325,fff36676cdac2dd8d057783f0e9f24cc,486087 4 488337 13 490587 21 492837 30 495087 ...,2256,1500,3,"114,135,142,152,226,286,316,317"

,ImageId,EncodedPixels,Height,Width,ClassId,AttributesIds
8,00000663ed1ff0c4e0132b9b9ac53f6e,4566382 8 4571592 25 4576803 41 4582013 58 458...,5214,3676,4,"17,115,136,145,149,225,295,311,317"
62,000c5bb8ca785bce8d00e3a6c7802a8c,322102 1 323125 2 324148 3 325171 4 326194 5 3...,1024,683,4,"115,135,142,146,308,317"
92,000e973c99dc090afd7898c93daf0dbc,4796962 5 4801882 14 4806801 24 4811721 33 481...,4928,3264,4,"17,115,136,142,146,295,316,328"
101,000e973c99dc090afd7898c93daf0dbc,2022977 2 2027903 8 2032828 14 2037754 19 2042...,4928,3264,4,"28,136,295,317"
167,001d7807a696231045860eaee97e825b,247017 4 248399 11 249780 16 251162 18 252543 ...,1383,900,4,"115,116,142,147,229,283,311,317"
...,...,...,...,...,...,...
333242,ffe8150a195e3aaa72640d7730a811a1,7279531 8 7283162 24 7286797 36 7290436 44 729...,3648,5472,4,"17,136,142,146,225,295,308,328"
333302,fff11e31ec0146bd469e5e3afa14a37a,195055 19 196068 56 197080 81 198092 94 199105...,1024,633,4,"17,115,136,142,148,225,295,311,317"
333319,fff132f7ce55db363a1afc4fda330ffc,2005308 93 2008300 194 2011293 206 2014288 217...,3000,1997,4,"17,115,136,142,147,225,295,311,322"
333334,fff3ae4585d776922829ceb887789be4,98199 15 98221 27 98905 69 99620 79 100334 90 ...,720,480,4,"21,115,136,142,146,225,295,298,317"
333383,fffe20b555b98c3c1f26c8dfff275cbc,2062254 2 2065252 8 2068250 13 2071208 29 2071...,3000,2001,4,"17,115,136,142,147,225,295,311,322"

,ImageId,EncodedPixels,Height,Width,ClassId,AttributesIds
796,009447b79fce7da1ee19a54401517cde,23488547 6 23493844 17 23499140 29 23504436 40...,5304,7952,5,"115,136,145,146,229,295,298,317"
1368,011b63573f6d2e7ea6eaaca179dae44d,81054 21 81723 42 82406 45 83090 48 83773 51 8...,684,392,5,"115,135,142,146,225,281,311,317"
1548,013997edc5cc9e5ffa382b8bdec8a0b5,542713 7 544309 20 545905 33 547501 46 549097 ...,1600,1067,5,"115,137,142,147,229,289,311,317"
2288,01d3616e452c27f307f3a0e46782a620,436257 3 437753 8 439248 14 440743 20 442238 2...,1500,998,5,"115,146,225,281,311,317"
2928,024ad80ecd6b9434d5deacb76d80207d,534057 16 535639 39 537231 52 538823 65 540414...,1593,1000,5,"115,135,146,225,295,311,317"
...,...,...,...,...,...,...
330685,fdd2cc9c6a49e6c2a2dbd1f2bb4a8042,2543054 1 2544981 6 2545053 2 2546970 20 25470...,2000,3008,5,"115,146,225,295,311,317"
331310,fe523baaa7a68d388836d658fe2ba029,1963282 3 1966280 6 1969277 10 1972274 14 1975...,3000,2000,5,"115,146,295,311,317"
332296,ff349939e98daf578eeb2d0480bf62db,6454285 7 6459887 21 6465488 36 6471090 50 647...,5616,3744,5,"115,136,145,147,225,295,311,317"
332500,ff526d49db684c552bad724a55254fb8,2395848 7 2398941 23 2402034 39 2405127 55 240...,3094,4671,5,"115,136,145,146,225,295,298,317"
332512,ff57700ee2ce218a4054f039ef8d105c,136854 22 137545 28 138236 34 138928 39 139619...,694,561,5,"115,135,141,146,225,295,316,317"

,ImageId,EncodedPixels,Height,Width,ClassId,AttributesIds
0,00000663ed1ff0c4e0132b9b9ac53f6e,6068157 7 6073371 20 6078584 34 6083797 48 608...,5214,3676,6,"115,136,143,154,230,295,316,317"
39,000775b6b5e27b011dc8bba2d7b85211,618579 4 620176 10 621775 14 623375 15 624974 ...,1600,1067,6,"115,137,141,234,295,305,317"
53,000b3ec2c6eaffb491a5abb72c2e3e26,701292 5 703597 15 705903 25 708209 34 710515 ...,2310,1536,6,"115,135,154,230,295,316,317"
61,000c5bb8ca785bce8d00e3a6c7802a8c,228212 5 229230 11 230254 12 231277 13 232300 ...,1024,683,6,"125,143,154,295,316,317,326"
97,000e973c99dc090afd7898c93daf0dbc,5798129 11 5803042 35 5807956 58 5812870 80 58...,4928,3264,6,"38,115,134,154,295,316,326"
...,...,...,...,...,...,...
333307,fff132f7ce55db363a1afc4fda330ffc,2128694 7 2131695 19 2134696 32 2137697 41 214...,3000,1997,6,"115,128,136,142,154,230,295,316,322"
333343,fff3ae4585d776922829ceb887789be4,119413 4 120126 13 120836 24 121532 49 122249 ...,720,480,6,"36,115,128,142,154,230,295,298,317"
333353,fff65379ba62e3f6498a20e9cc2a99fe,5711932 7 5715964 21 5716079 11 5719996 36 572...,4032,3024,6,"36,115,135,141,154,230,295,316,317"
333369,fffb65463df408e308983ef743b77491,2113440 62 2116428 82 2119416 102 2122407 119 ...,3000,2247,6,"135,295,316,317"
333393,fffe20b555b98c3c1f26c8dfff275cbc,2611656 2 2614657 4 2617657 8 2620658 11 26236...,3000,2001,6,"36,115,128,136,142,154,230,295,298,317"

,ImageId,EncodedPixels,Height,Width,ClassId,AttributesIds
70,000cd2e13d1bdd28f480304d7bb9e1ca,1903555 49 1906550 63 1909545 78 1912540 89 19...,3000,2000,7,"50,135,142,149,295,301,325"
180,00211c06b1fe730097dde122cd4d3f8c,296470 1 297469 3 298468 5 299467 8 300466 10 ...,1000,665,7,"50,115,136,142,148,230,295,300,317"
372,0048f6c47de85cc4dc263912bd0ff6f5,3982550 2 3986509 8 3990469 13 3994429 18 3998...,3960,2640,7,"50,115,136,142,148,317"
466,0056447a613cceb08686906bdfa512a2,593986 13 595368 39 596749 67 598131 120 59833...,1400,1400,7,"54,115,142,149,227,230,295,301"
633,00793030df744f726d7978d88fcedc53,926767 2 929052 7 931337 11 933622 16 935907 2...,2285,1463,7,"52,115,136,142,151,295,301,322"
...,...,...,...,...,...,...
332782,ff8292378230847fec600359128ae458,771804 6 773800 16 775701 12 775795 27 777692 ...,2000,1500,7,"50,115,136,149,295,316,317"
332805,ff8923c82c694582614e3c6426f27d50,472312 1 473811 2 475311 2 476810 3 478309 5 4...,1500,1000,7,"50,115,135,143,148,234,295,296"
333000,ffb1f382a83916396f2d2d5d549cacb8,21666479 12 21674426 35 21682373 59 21690320 8...,7952,5304,7,"60,115,136,142,149,230,295,316,317"
333159,ffd86ff5fbd82d0e6eb176cbc0b83634,7415069 2 7419980 5 7424890 10 7429767 1 74298...,4912,3264,7,"50,115,136,148,298,300,317"
333223,ffe1e5da370845fafb733f6306d7defe,378842 3 380436 10 382031 15 383625 22 385219 ...,1600,1067,7,"115,141,234,295,317"

,ImageId,EncodedPixels,Height,Width,ClassId,AttributesIds
26,00048c3a2fb9c29340473c4cfc06424a,249119 32 250083 44 251048 55 252016 64 252096...,975,650,8,"67,127,142,150,229,309,317"
33,0006ea84499fd9a06fefbdf47a5eb4c0,80550 49 81478 3 81545 147 82477 7 82517 3 825...,1000,667,8,"118,142,152,295,301"
118,0010ef2da53cd76ee26122a65f6e76ee,5582840 11 5587437 31 5592033 52 5596630 72 56...,4608,3072,8,"115,133,142,154,229,295,316,325"
188,00213526750c326a6d8cac9d44b458de,92688 4 93438 5 94188 6 94938 7 95607 6 95688 ...,750,500,8,"68,115,128,142,149,229,316,317"
214,002bc82e34205ecf66052749c8ff9e32,1277997 1 1280328 4 1282659 8 1284991 10 12873...,2334,1522,8,"71,118,142,149,295,304,317"
...,...,...,...,...,...,...
333104,ffc256d93da617d2ac1667338f7b44f0,211854 8 212862 25 213869 43 214877 59 215873 ...,1024,680,8,"68,128,295,304,328"
333166,ffdb5284c3d1b609a2212c8b86ca6c6e,6271997 1 6277612 4 6283227 6 6288842 8 629445...,5616,3744,8,"77,115,118,141,150,304,317"
333236,ffe4f3ce004fdd1e691f48d6281211a2,170861 8 171310 26 171771 32 172238 32 172701 ...,462,819,8,"141,295,317"
333272,ffec8295f37df6ea12eecbb60d2c23d4,2714156 18 2717599 54 2721042 89 2724485 125 2...,3456,2304,8,"68,115,127,149,229,295,316,317"
333324,fff36676cdac2dd8d057783f0e9f24cc,944865 1 947120 2 949374 5 951628 7 953883 8 9...,2256,1500,8,"68,115,128,149,295,316,317"

,ImageId,EncodedPixels,Height,Width,ClassId,AttributesIds
292,003a6ca3eaa7886da61ed2de2c5e8d27,5081940 2 5084668 5 5087396 8 5090124 11 50928...,2733,3630,9,"136,149,225,311,317"
421,0050bcb3b84397351c1a66659f5e5ca1,432619 3 433817 10 435014 18 436212 25 437410 ...,1200,1200,9,"82,115,136,142,149,226,295,311,314,332"
497,005cc3138d3afa7236bf4428af165766,64886 6 65408 17 65930 28 66452 39 66973 51 67...,533,483,9,"81,115,136,145,149,225,311,317"
623,00758bef53b4e871fe2c639a895b5988,341118 2 342397 4 343675 5 344954 5 346228 11 ...,1280,852,9,"79,115,137,145,149,295,311,317"
709,00833002857187d466f2f81e6ddb877d,3333723 9 3337708 27 3341693 45 3345321 10 334...,4000,3000,9,"115,136,145,233,289,311,317"
...,...,...,...,...,...,...
332915,ffa3ea1e617fc51d9f897c3651d8c58c,825142 3 828664 10 832187 17 835709 24 839232 ...,3529,2352,9,"115,135,142,148,228,292,311,317"
332956,ffaace6e3efa42d2cc9ae95cd725397d,526510 2 528305 8 530101 12 531897 17 533692 2...,1800,1201,9,"115,142,151,295,311,317"
333025,ffb493fb5d67f7d118109797d6bbce10,191587 1 192635 3 193682 6 194730 9 195778 11 ...,1050,700,9,"87,115,137,145,150,225,295,311,317"
333098,ffc20018d3b87df69ae61f1c38a1257a,521923 2 523520 6 525117 10 525225 54 525367 4...,1600,1067,9,"84,115,137,145,149,228,289,311,317"
333354,fff65379ba62e3f6498a20e9cc2a99fe,5401224 108 5405226 147 5409247 162 5413269 17...,4032,3024,9,"81,115,136,145,149,225,295,316,317"

,ImageId,EncodedPixels,Height,Width,ClassId,AttributesIds
12,0002ec21ddb8477e98b2cbb87ea2e269,2287509 4 2290504 12 2290588 26 2293501 18 229...,3000,1997,10,"102,128,142,150,229,295,301,318"
15,0002f5a0ebc162ecfb73e2c91e3b8f62,435 132 1002 132 1569 132 2136 132 2703 132 32...,567,400,10,"108,115,119,141,155,229,286,316,317"
18,0004467156e47b0eb6de4aa6479cbd15,132663 8 133396 25 134130 41 134868 53 135611 ...,750,500,10,"115,141,155,295,305,317"
42,000aac3870ea7c59ca0333ffa5327323,8971124 17 8975101 49 8979077 82 8983053 116 8...,4000,6000,10,"104,115,129,145,149,295,308,325"
48,000b3a87508b0fa185fbd53ecbe2e4c6,291578 3 292856 8 294133 13 295410 19 296687 2...,1280,852,10,"112,114,128,142,151,295,311,317,322"
...,...,...,...,...,...,...
333261,ffebc44ef1bbb5067632bfa26383e425,2762370 9 2765353 26 2768335 44 2771318 62 277...,3000,2000,10,"113,115,117,141,153,229,295,316,317"
333281,ffed4d2a46f54337b99357dac5783564,293022 7 294518 16 296015 19 297511 24 299007 ...,1500,849,10,"114,129,145,150,295,296,317"
333358,fff8d9bd5ad4354b66355dd797942b42,408993 3 410489 8 411985 13 413481 19 414977 2...,1500,1000,10,"101,115,129,142,152,229,295,309,340"
333375,fffc631acce2e28e1628de685d40c980,210058 15 211030 18 212002 21 212974 24 213946...,975,650,10,"103,145,150,225,295,298,317"
333400,ffffbf7014a9e408bfbb81a75bc70638,63365 36 63852 77 64343 85 64838 89 65332 94 6...,500,375,10,"102,128,142,150,295,308,317"

,ImageId,EncodedPixels,Height,Width,ClassId,AttributesIds
1386,011ea8ad74020b797bb70dff32eb965d,1454723 7 1457712 22 1460700 37 1463689 51 146...,3000,2000,11,"115,125,141,155,295,301,325"
2846,02389d8de4ec5f040c639282732b53a1,162399 1 163478 3 164556 6 164589 8 165634 9 1...,1080,1080,11,"115,126,142,154,229,295,305,306,317"
3175,026a9d4e51588f0973eea33bb81c512a,1542006 4 1543999 12 1545991 20 1547983 28 154...,1995,3000,11,"115,295,317"
3776,02e0e61e9828870674129227de56e45c,1231735 9 1234134 26 1236533 44 1238932 61 124...,2408,1673,11,"115,125,141,154,295,316,317"
3854,02f6c36c2a99353edadbeb93931346f8,1294686 38 1297639 113 1300612 169 1303513 16 ...,3000,2000,11,"115,135,141,155,234,295,316,317"
...,...,...,...,...,...,...
330948,fe05e6d28b36fee9b3b9227d613e80b5,275926 9 277524 13 279120 19 280713 29 282306 ...,1600,1067,11,"115,125,137,141,155,229,295,298,317"
331168,fe31fb1a96780626756d473ba5a87af4,7803789 63 7809121 71 7814453 78 7819785 86 78...,5336,3837,11,"115,136,142,149,229,295,316,331"
331561,fe8702c3e0b29091a557a00eb6056570,2250178 7 2253666 21 2257154 35 2260642 49 226...,3500,2333,11,"115,125,142,155,229,295,316,317"
332808,ff89d127a396bc4e269161fcb0debafc,157993 7 158979 21 159966 34 160952 48 161938 ...,1000,667,11,"115,128,136,141,295,305,325"
332938,ffa63ad62b2c50d67402d215af1133ee,108466 2 108921 5 109375 9 109829 11 110283 10...,455,682,11,"115,132,142,229,295,316,318"

,ImageId,EncodedPixels,Height,Width,ClassId,AttributesIds
103,000e973c99dc090afd7898c93daf0dbc,5889525 12 5894431 36 5899346 51 5904270 57 59...,4928,3264,14,NaN
710,0084d5a59b959293507052f5679d1be5,6663362 49 6668544 54 6673726 59 6678908 65 66...,5184,3456,14,NaN
791,0091ae902cb738e4ca06038c2654fa00,714885 7 716680 20 718474 33 720269 46 722065 ...,1800,1200,14,NaN
1018,00cd5bb501e031aeeeeb337fb3f5b6d8,167360 2 168159 5 168959 5 169758 6 170557 7 1...,800,534,14,NaN
1088,00df4e94fea28af045f51846858a2e3e,7960563 6 7966169 18 7971775 31 7977381 43 798...,5616,3744,14,NaN
...,...,...,...,...,...,...
332930,ffa52a33c743c48512a85169251c9ffa,1080453 5 1082452 13 1084451 21 1086449 27 108...,2000,1316,14,NaN
333101,ffc20018d3b87df69ae61f1c38a1257a,524898 7 526492 19 528086 27 529681 33 531275 ...,1600,1067,14,NaN
333155,ffd7077c30443a0d3f1cb1e0588bf41c,6156002 9 6161185 25 6166367 43 6171549 60 617...,5184,3456,14,NaN
333194,ffdd857f6f41f95adf6ae5c3ab8c3fc1,279920 6 280920 13 280951 19 281961 53 283003 ...,1044,700,14,NaN
333231,ffe4f3ce004fdd1e691f48d6281211a2,173328 4 173785 12 174242 20 174700 27 175161 ...,462,819,14,NaN

,ImageId,EncodedPixels,Height,Width,ClassId,AttributesIds
194,0024bec9284de7d329da7be884ec74bd,2171250 11 2174489 32 2177727 54 2180965 77 21...,3252,1860,21,NaN
195,0024bec9284de7d329da7be884ec74bd,3208361 4 3211612 10 3214863 16 3218114 23 322...,3252,1860,21,NaN
256,00375f11809c48821f56051b55b8e8dc,130080 4 130926 12 131773 20 132620 27 133466 ...,851,566,21,NaN
257,00375f11809c48821f56051b55b8e8dc,98615 6 99464 16 100314 20 101163 26 102012 31...,851,566,21,NaN
280,0039366c35ed742e5bfc6a278b699720,693894 21 695495 29 697095 32 698695 35 700296...,1600,1067,21,NaN
...,...,...,...,...,...,...
333151,ffd7077c30443a0d3f1cb1e0588bf41c,11247374 8 11252542 24 11257710 40 11262879 56...,5184,3456,21,NaN
333265,ffebc44ef1bbb5067632bfa26383e425,3062336 4 3065335 10 3068334 16 3071334 21 307...,3000,2000,21,NaN
333266,ffebc44ef1bbb5067632bfa26383e425,3443389 6 3446390 18 3449391 30 3452392 42 345...,3000,2000,21,NaN
333331,fff36676cdac2dd8d057783f0e9f24cc,730829 2 733081 6 735333 9 737585 13 739837 17...,2256,1500,21,NaN
333332,fff36676cdac2dd8d057783f0e9f24cc,1684877 15 1687133 29 1689389 43 1691645 57 16...,2256,1500,21,NaN

,ImageId,EncodedPixels,Height,Width,ClassId,AttributesIds
13,0002ec21ddb8477e98b2cbb87ea2e269,3077799 43 3080792 52 3083786 60 3086779 70 30...,3000,1997,23,NaN
14,0002ec21ddb8477e98b2cbb87ea2e269,2678617 8 2681610 18 2684607 25 2687605 31 269...,3000,1997,23,NaN
29,00048c3a2fb9c29340473c4cfc06424a,329326 3 330300 8 331276 12 332253 15 333231 1...,975,650,23,NaN
30,00048c3a2fb9c29340473c4cfc06424a,283509 4 284484 10 284549 2 285459 12 285520 7...,975,650,23,NaN
34,0006ea84499fd9a06fefbdf47a5eb4c0,236871 1 237870 3 238869 6 239869 8 240868 10 ...,1000,667,23,NaN
...,...,...,...,...,...,...
333371,fffb65463df408e308983ef743b77491,4079457 7 4082457 8 4085456 11 4088446 5 40884...,3000,2247,23,NaN
333379,fffc631acce2e28e1628de685d40c980,284625 4 285597 12 286569 20 287541 25 288513 ...,975,650,23,NaN
333380,fffc631acce2e28e1628de685d40c980,288552 15 289525 18 290475 2 290498 20 291447 ...,975,650,23,NaN
333390,fffe20b555b98c3c1f26c8dfff275cbc,3800472 4 3803465 12 3806458 20 3809451 29 381...,3000,2001,23,NaN
333391,fffe20b555b98c3c1f26c8dfff275cbc,2915555 2 2918553 4 2921550 7 2924547 9 292754...,3000,2001,23,NaN

In [8]:
def create_mask_this_df(in_df):
    image_ids = in_df['ImageId'][:10]
    images_meta=[]

    for image_id in image_ids:
        img = mpimg.imread('./data/kaggle_FGVC/train/{}.jpg'.format(image_id))
        images_meta.append({
            'image': img,
            'shape': img.shape,
            'encoded_pixels': in_df[in_df['ImageId'] == image_id]['EncodedPixels'],
            'class_ids':  in_df[in_df['ImageId'] == image_id]['ClassId']
        })

    masks = []
    for image in images_meta:
        shape = image.get('shape')
        encoded_pixels = list(image.get('encoded_pixels'))
        class_ids = list(image.get('class_ids'))
        
        # Initialize numpy array with shape same as image size
        height, width = shape[:2]
        mask = np.zeros((height, width)).reshape(-1)
        
        # Iterate over encoded pixels and create mask
        for segment, (pixel_str, class_id) in enumerate(zip(encoded_pixels, class_ids)):
            splitted_pixels = list(map(int, pixel_str.split()))
            pixel_starts = splitted_pixels[::2]
            run_lengths = splitted_pixels[1::2]
            assert max(pixel_starts) < mask.shape[0]
            for pixel_start, run_length in zip(pixel_starts, run_lengths):
                pixel_start = int(pixel_start) - 1
                run_length = int(run_length)
                mask[pixel_start:pixel_start+run_length] = 255 - class_id * 4
        masks.append(mask.reshape((height, width), order='F'))  
    return masks, images_meta


mask_list = []

In [9]:
# íŒŒì¼ ë¶„ë¥˜
mask_list = []

my_category_list = [0,1,2,3,4,5,6,7,8,9,10,11,14,21,23]

my_category_dict = {0:'shirt, blouse',
                    1:'top, t-shirt, sweatshirt',
                    2:'sweater',
                    3:'cardigan',
                    4:'jacket',
                    5:'vest',
                    6:'pants',
                    7:'shorts',
                    8:'skirt',
                    9:'coat',
                    10:'dress',
                    11:'jumpsuit',
                    14:'hat',
                    21:'tights, stockings',
                    23:'shoe'}


for i in my_category_list:
    display(train_df[train_df['ClassId'] == i])
    print(' ')
  

my_sort_df = train_df[train_df['ClassId'] == 3]# ë°”ê¿”ì•¼í• ê±°
my_category_dict.get(3)

,ImageId,EncodedPixels,Height,Width,ClassId,AttributesIds
1,00000663ed1ff0c4e0132b9b9ac53f6e,6323163 11 6328356 32 6333549 53 6338742 75 63...,5214,3676,0,"115,136,142,146,225,295,316,317"
119,0010ef2da53cd76ee26122a65f6e76ee,5153671 6 5158276 20 5162882 31 5167488 42 517...,4608,3072,0,"115,135,142,146,225,295,316,317"
222,002bc82e34205ecf66052749c8ff9e32,1303221 6 1305550 18 1307880 29 1310209 41 131...,2334,1522,0,"115,136,145,146,225,295,316,317"
239,0036f906cb15e240f113184b5eed8c69,116510 2 117157 6 117803 11 118445 20 119089 2...,650,433,0,"115,136,145,147,225,295,316,317"
283,0039366c35ed742e5bfc6a278b699720,752506 23 754090 70 755675 100 757265 110 7588...,1600,1067,0,"115,225,295,316,317"
...,...,...,...,...,...,...
333189,ffdc587a4b41cc4ff12c56e4fe06086b,249513 2 250713 6 251914 9 251929 5 253114 21 ...,1200,801,0,"147,316"
333211,ffe011e941a22c02ef0be02a922d44b7,6921499 3 6926776 9 6932054 15 6937331 19 6942...,5278,3519,0,"115,136,142,146,225,295,316,317"
333291,fff11e31ec0146bd469e5e3afa14a37a,289982 6 291001 16 292021 21 293043 25 294066 ...,1024,633,0,"115,136,295,316"
333309,fff132f7ce55db363a1afc4fda330ffc,2653567 3 2656560 11 2659556 15 2662553 18 266...,3000,1997,0,"115,136,142,146,225,295,316,317"
333395,fffe20b555b98c3c1f26c8dfff275cbc,2446541 2 2449539 5 2452536 10 2455534 14 2458...,3000,2001,0,"115,136,142,146,225,295,316,322"

,ImageId,EncodedPixels,Height,Width,ClassId,AttributesIds
10,0000fe7c9191fba733c8a69cfaf962b7,1343707 9 1346138 27 1348569 44 1351000 62 135...,2448,2448,1,"0,115,145,146,295,316,317"
24,00048c3a2fb9c29340473c4cfc06424a,257702 10 258670 26 259640 36 260572 6 260610 ...,975,650,1,"11,115,135,145,146,295,316,317"
31,0006ea84499fd9a06fefbdf47a5eb4c0,73327 6 74328 18 75330 37 76335 63 77340 88 78...,1000,667,1,"11,135,146,295"
37,000775b6b5e27b011dc8bba2d7b85211,309670 11 311259 33 312848 55 314440 72 316033...,1600,1067,1,"115,136,145,295,314,317"
54,000b3ec2c6eaffb491a5abb72c2e3e26,458445 17 460731 51 463017 85 465303 115 46759...,2310,1536,1,"0,115,136,145,147,295,314,317"
...,...,...,...,...,...,...
333273,ffec8295f37df6ea12eecbb60d2c23d4,2599516 1 2602970 3 2606425 4 2609879 6 261333...,3456,2304,1,"0,115,136,145,146,295,316,317"
333322,fff36676cdac2dd8d057783f0e9f24cc,1401684 4 1403933 12 1403962 4 1406137 4 14061...,2256,1500,1,"0,317"
333336,fff3ae4585d776922829ceb887789be4,122780 3 123500 6 123511 7 124220 22 124940 24...,720,480,1,"14,115,136,145,147,295,316,317"
333351,fff65379ba62e3f6498a20e9cc2a99fe,5913102 5 5917131 10 5921163 12 5925195 14 592...,4032,3024,1,"0,115,136,146,295,301,317"
333363,fffb65463df408e308983ef743b77491,2224221 3 2227216 8 2230211 13 2233206 18 2236...,3000,2247,1,"0,115,137,145,147,295,316,317"

,ImageId,EncodedPixels,Height,Width,ClassId,AttributesIds
296,003a6ca3eaa7886da61ed2de2c5e8d27,5158311 19 5161042 23 5163772 28 5163869 5 516...,2733,3630,2,"136,147,295,316,317"
298,003ad8a37d2190bd944a8968fb0906e2,18556042 9 18561335 28 18566629 46 18571922 65...,5304,7952,2,"115,136,142,147,295,316,317"
314,003c831a9e84ee589d67c4d91786f525,48287 3 48882 9 49468 24 50049 44 50635 64 512...,600,371,2,"115,135,142,147,295,316,317"
580,00689c9d05028aad72aa2a9dfccbd491,8143995 5 8147985 15 8151974 26 8155964 36 815...,4000,6000,2,"115,136,295,316,317"
664,007e66e7c2864eb3c1ef95cd3ab52687,5093384 3 5098565 11 5103747 17 5108928 25 511...,5184,3456,2,"115,136,145,146,295,316,317,328"
...,...,...,...,...,...,...
332358,ff3c229ab653661ecd5c857ef20e77db,92626 4 93271 11 93917 14 94564 16 95211 18 95...,650,433,2,"115,136,142,149,295,316,317"
332663,ff73f17eae6e03385dac85aa2e0ad415,3324489 3 3327332 10 3330176 16 3333021 21 333...,2848,4288,2,"115,136,145,146,316"
332943,ffa9ee64af28f111006fbdabf6db09e2,3117 63 4848 153 6616 206 8384 259 10012 69 10...,1800,1183,2,"115,145,147,295,316,317,328"
333213,ffe011e941a22c02ef0be02a922d44b7,3285868 49 3291072 147 3296311 210 3301584 238...,5278,3519,2,"115,136,145,146,295,316,317"
333290,fff11e31ec0146bd469e5e3afa14a37a,202276 4 203300 7 204324 6 205348 5 206372 5 2...,1024,633,2,"115,136,145,146,295,316,332"

,ImageId,EncodedPixels,Height,Width,ClassId,AttributesIds
44,000aac3870ea7c59ca0333ffa5327323,8621972 2 8625970 5 8629968 9 8633966 13 86379...,4000,6000,3,"115,136,145,147,225,295,316,317"
478,00573a530f2e9e4c203681547e259f52,13173 8 13958 25 14744 41 15529 52 16314 57 17...,789,800,3,"115,136,145,146,295,316,317"
486,0058f13eef5b1a66e42666bbbb834ca9,81846 13 81929 39 82831 37 82893 76 83816 153 ...,1000,800,3,"115,145,146,225,281,312,319"
679,007fb0d71cfa24fe496363d5198f706d,36357 3 37004 7 37374 9 37650 13 38015 22 3823...,650,433,3,"115,137,142,149,295,316,317"
1192,00f43ac0d027955e5fe6c99bd412fd8f,3248208 5 3251198 16 3254187 27 3257177 37 326...,3000,2000,3,"115,136,145,149,225,295,316,317"
...,...,...,...,...,...,...
331727,feb527d59d79e3b191ea21a06a3a72b3,82532 1 83131 3 83729 5 84328 7 84926 10 85525...,600,450,3,"115,136,145,151,225,295,316,317"
332161,ff0c12c7e53961891d3930a0a61c698e,4203322 1 4206584 5 4209846 8 4213108 11 42163...,3264,4912,3,"147,295,316,317"
333148,ffd7077c30443a0d3f1cb1e0588bf41c,6492408 2 6497591 8 6502774 13 6507958 18 6513...,5184,3456,3,"115,149,295,316,328"
333269,ffebc44ef1bbb5067632bfa26383e425,1873710 1 1876708 3 1879707 4 1882705 6 188570...,3000,2000,3,"115,136,145,147,295,316,317"
333325,fff36676cdac2dd8d057783f0e9f24cc,486087 4 488337 13 490587 21 492837 30 495087 ...,2256,1500,3,"114,135,142,152,226,286,316,317"

,ImageId,EncodedPixels,Height,Width,ClassId,AttributesIds
8,00000663ed1ff0c4e0132b9b9ac53f6e,4566382 8 4571592 25 4576803 41 4582013 58 458...,5214,3676,4,"17,115,136,145,149,225,295,311,317"
62,000c5bb8ca785bce8d00e3a6c7802a8c,322102 1 323125 2 324148 3 325171 4 326194 5 3...,1024,683,4,"115,135,142,146,308,317"
92,000e973c99dc090afd7898c93daf0dbc,4796962 5 4801882 14 4806801 24 4811721 33 481...,4928,3264,4,"17,115,136,142,146,295,316,328"
101,000e973c99dc090afd7898c93daf0dbc,2022977 2 2027903 8 2032828 14 2037754 19 2042...,4928,3264,4,"28,136,295,317"
167,001d7807a696231045860eaee97e825b,247017 4 248399 11 249780 16 251162 18 252543 ...,1383,900,4,"115,116,142,147,229,283,311,317"
...,...,...,...,...,...,...
333242,ffe8150a195e3aaa72640d7730a811a1,7279531 8 7283162 24 7286797 36 7290436 44 729...,3648,5472,4,"17,136,142,146,225,295,308,328"
333302,fff11e31ec0146bd469e5e3afa14a37a,195055 19 196068 56 197080 81 198092 94 199105...,1024,633,4,"17,115,136,142,148,225,295,311,317"
333319,fff132f7ce55db363a1afc4fda330ffc,2005308 93 2008300 194 2011293 206 2014288 217...,3000,1997,4,"17,115,136,142,147,225,295,311,322"
333334,fff3ae4585d776922829ceb887789be4,98199 15 98221 27 98905 69 99620 79 100334 90 ...,720,480,4,"21,115,136,142,146,225,295,298,317"
333383,fffe20b555b98c3c1f26c8dfff275cbc,2062254 2 2065252 8 2068250 13 2071208 29 2071...,3000,2001,4,"17,115,136,142,147,225,295,311,322"

,ImageId,EncodedPixels,Height,Width,ClassId,AttributesIds
796,009447b79fce7da1ee19a54401517cde,23488547 6 23493844 17 23499140 29 23504436 40...,5304,7952,5,"115,136,145,146,229,295,298,317"
1368,011b63573f6d2e7ea6eaaca179dae44d,81054 21 81723 42 82406 45 83090 48 83773 51 8...,684,392,5,"115,135,142,146,225,281,311,317"
1548,013997edc5cc9e5ffa382b8bdec8a0b5,542713 7 544309 20 545905 33 547501 46 549097 ...,1600,1067,5,"115,137,142,147,229,289,311,317"
2288,01d3616e452c27f307f3a0e46782a620,436257 3 437753 8 439248 14 440743 20 442238 2...,1500,998,5,"115,146,225,281,311,317"
2928,024ad80ecd6b9434d5deacb76d80207d,534057 16 535639 39 537231 52 538823 65 540414...,1593,1000,5,"115,135,146,225,295,311,317"
...,...,...,...,...,...,...
330685,fdd2cc9c6a49e6c2a2dbd1f2bb4a8042,2543054 1 2544981 6 2545053 2 2546970 20 25470...,2000,3008,5,"115,146,225,295,311,317"
331310,fe523baaa7a68d388836d658fe2ba029,1963282 3 1966280 6 1969277 10 1972274 14 1975...,3000,2000,5,"115,146,295,311,317"
332296,ff349939e98daf578eeb2d0480bf62db,6454285 7 6459887 21 6465488 36 6471090 50 647...,5616,3744,5,"115,136,145,147,225,295,311,317"
332500,ff526d49db684c552bad724a55254fb8,2395848 7 2398941 23 2402034 39 2405127 55 240...,3094,4671,5,"115,136,145,146,225,295,298,317"
332512,ff57700ee2ce218a4054f039ef8d105c,136854 22 137545 28 138236 34 138928 39 139619...,694,561,5,"115,135,141,146,225,295,316,317"

,ImageId,EncodedPixels,Height,Width,ClassId,AttributesIds
0,00000663ed1ff0c4e0132b9b9ac53f6e,6068157 7 6073371 20 6078584 34 6083797 48 608...,5214,3676,6,"115,136,143,154,230,295,316,317"
39,000775b6b5e27b011dc8bba2d7b85211,618579 4 620176 10 621775 14 623375 15 624974 ...,1600,1067,6,"115,137,141,234,295,305,317"
53,000b3ec2c6eaffb491a5abb72c2e3e26,701292 5 703597 15 705903 25 708209 34 710515 ...,2310,1536,6,"115,135,154,230,295,316,317"
61,000c5bb8ca785bce8d00e3a6c7802a8c,228212 5 229230 11 230254 12 231277 13 232300 ...,1024,683,6,"125,143,154,295,316,317,326"
97,000e973c99dc090afd7898c93daf0dbc,5798129 11 5803042 35 5807956 58 5812870 80 58...,4928,3264,6,"38,115,134,154,295,316,326"
...,...,...,...,...,...,...
333307,fff132f7ce55db363a1afc4fda330ffc,2128694 7 2131695 19 2134696 32 2137697 41 214...,3000,1997,6,"115,128,136,142,154,230,295,316,322"
333343,fff3ae4585d776922829ceb887789be4,119413 4 120126 13 120836 24 121532 49 122249 ...,720,480,6,"36,115,128,142,154,230,295,298,317"
333353,fff65379ba62e3f6498a20e9cc2a99fe,5711932 7 5715964 21 5716079 11 5719996 36 572...,4032,3024,6,"36,115,135,141,154,230,295,316,317"
333369,fffb65463df408e308983ef743b77491,2113440 62 2116428 82 2119416 102 2122407 119 ...,3000,2247,6,"135,295,316,317"
333393,fffe20b555b98c3c1f26c8dfff275cbc,2611656 2 2614657 4 2617657 8 2620658 11 26236...,3000,2001,6,"36,115,128,136,142,154,230,295,298,317"

,ImageId,EncodedPixels,Height,Width,ClassId,AttributesIds
70,000cd2e13d1bdd28f480304d7bb9e1ca,1903555 49 1906550 63 1909545 78 1912540 89 19...,3000,2000,7,"50,135,142,149,295,301,325"
180,00211c06b1fe730097dde122cd4d3f8c,296470 1 297469 3 298468 5 299467 8 300466 10 ...,1000,665,7,"50,115,136,142,148,230,295,300,317"
372,0048f6c47de85cc4dc263912bd0ff6f5,3982550 2 3986509 8 3990469 13 3994429 18 3998...,3960,2640,7,"50,115,136,142,148,317"
466,0056447a613cceb08686906bdfa512a2,593986 13 595368 39 596749 67 598131 120 59833...,1400,1400,7,"54,115,142,149,227,230,295,301"
633,00793030df744f726d7978d88fcedc53,926767 2 929052 7 931337 11 933622 16 935907 2...,2285,1463,7,"52,115,136,142,151,295,301,322"
...,...,...,...,...,...,...
332782,ff8292378230847fec600359128ae458,771804 6 773800 16 775701 12 775795 27 777692 ...,2000,1500,7,"50,115,136,149,295,316,317"
332805,ff8923c82c694582614e3c6426f27d50,472312 1 473811 2 475311 2 476810 3 478309 5 4...,1500,1000,7,"50,115,135,143,148,234,295,296"
333000,ffb1f382a83916396f2d2d5d549cacb8,21666479 12 21674426 35 21682373 59 21690320 8...,7952,5304,7,"60,115,136,142,149,230,295,316,317"
333159,ffd86ff5fbd82d0e6eb176cbc0b83634,7415069 2 7419980 5 7424890 10 7429767 1 74298...,4912,3264,7,"50,115,136,148,298,300,317"
333223,ffe1e5da370845fafb733f6306d7defe,378842 3 380436 10 382031 15 383625 22 385219 ...,1600,1067,7,"115,141,234,295,317"

,ImageId,EncodedPixels,Height,Width,ClassId,AttributesIds
26,00048c3a2fb9c29340473c4cfc06424a,249119 32 250083 44 251048 55 252016 64 252096...,975,650,8,"67,127,142,150,229,309,317"
33,0006ea84499fd9a06fefbdf47a5eb4c0,80550 49 81478 3 81545 147 82477 7 82517 3 825...,1000,667,8,"118,142,152,295,301"
118,0010ef2da53cd76ee26122a65f6e76ee,5582840 11 5587437 31 5592033 52 5596630 72 56...,4608,3072,8,"115,133,142,154,229,295,316,325"
188,00213526750c326a6d8cac9d44b458de,92688 4 93438 5 94188 6 94938 7 95607 6 95688 ...,750,500,8,"68,115,128,142,149,229,316,317"
214,002bc82e34205ecf66052749c8ff9e32,1277997 1 1280328 4 1282659 8 1284991 10 12873...,2334,1522,8,"71,118,142,149,295,304,317"
...,...,...,...,...,...,...
333104,ffc256d93da617d2ac1667338f7b44f0,211854 8 212862 25 213869 43 214877 59 215873 ...,1024,680,8,"68,128,295,304,328"
333166,ffdb5284c3d1b609a2212c8b86ca6c6e,6271997 1 6277612 4 6283227 6 6288842 8 629445...,5616,3744,8,"77,115,118,141,150,304,317"
333236,ffe4f3ce004fdd1e691f48d6281211a2,170861 8 171310 26 171771 32 172238 32 172701 ...,462,819,8,"141,295,317"
333272,ffec8295f37df6ea12eecbb60d2c23d4,2714156 18 2717599 54 2721042 89 2724485 125 2...,3456,2304,8,"68,115,127,149,229,295,316,317"
333324,fff36676cdac2dd8d057783f0e9f24cc,944865 1 947120 2 949374 5 951628 7 953883 8 9...,2256,1500,8,"68,115,128,149,295,316,317"

,ImageId,EncodedPixels,Height,Width,ClassId,AttributesIds
292,003a6ca3eaa7886da61ed2de2c5e8d27,5081940 2 5084668 5 5087396 8 5090124 11 50928...,2733,3630,9,"136,149,225,311,317"
421,0050bcb3b84397351c1a66659f5e5ca1,432619 3 433817 10 435014 18 436212 25 437410 ...,1200,1200,9,"82,115,136,142,149,226,295,311,314,332"
497,005cc3138d3afa7236bf4428af165766,64886 6 65408 17 65930 28 66452 39 66973 51 67...,533,483,9,"81,115,136,145,149,225,311,317"
623,00758bef53b4e871fe2c639a895b5988,341118 2 342397 4 343675 5 344954 5 346228 11 ...,1280,852,9,"79,115,137,145,149,295,311,317"
709,00833002857187d466f2f81e6ddb877d,3333723 9 3337708 27 3341693 45 3345321 10 334...,4000,3000,9,"115,136,145,233,289,311,317"
...,...,...,...,...,...,...
332915,ffa3ea1e617fc51d9f897c3651d8c58c,825142 3 828664 10 832187 17 835709 24 839232 ...,3529,2352,9,"115,135,142,148,228,292,311,317"
332956,ffaace6e3efa42d2cc9ae95cd725397d,526510 2 528305 8 530101 12 531897 17 533692 2...,1800,1201,9,"115,142,151,295,311,317"
333025,ffb493fb5d67f7d118109797d6bbce10,191587 1 192635 3 193682 6 194730 9 195778 11 ...,1050,700,9,"87,115,137,145,150,225,295,311,317"
333098,ffc20018d3b87df69ae61f1c38a1257a,521923 2 523520 6 525117 10 525225 54 525367 4...,1600,1067,9,"84,115,137,145,149,228,289,311,317"
333354,fff65379ba62e3f6498a20e9cc2a99fe,5401224 108 5405226 147 5409247 162 5413269 17...,4032,3024,9,"81,115,136,145,149,225,295,316,317"

,ImageId,EncodedPixels,Height,Width,ClassId,AttributesIds
12,0002ec21ddb8477e98b2cbb87ea2e269,2287509 4 2290504 12 2290588 26 2293501 18 229...,3000,1997,10,"102,128,142,150,229,295,301,318"
15,0002f5a0ebc162ecfb73e2c91e3b8f62,435 132 1002 132 1569 132 2136 132 2703 132 32...,567,400,10,"108,115,119,141,155,229,286,316,317"
18,0004467156e47b0eb6de4aa6479cbd15,132663 8 133396 25 134130 41 134868 53 135611 ...,750,500,10,"115,141,155,295,305,317"
42,000aac3870ea7c59ca0333ffa5327323,8971124 17 8975101 49 8979077 82 8983053 116 8...,4000,6000,10,"104,115,129,145,149,295,308,325"
48,000b3a87508b0fa185fbd53ecbe2e4c6,291578 3 292856 8 294133 13 295410 19 296687 2...,1280,852,10,"112,114,128,142,151,295,311,317,322"
...,...,...,...,...,...,...
333261,ffebc44ef1bbb5067632bfa26383e425,2762370 9 2765353 26 2768335 44 2771318 62 277...,3000,2000,10,"113,115,117,141,153,229,295,316,317"
333281,ffed4d2a46f54337b99357dac5783564,293022 7 294518 16 296015 19 297511 24 299007 ...,1500,849,10,"114,129,145,150,295,296,317"
333358,fff8d9bd5ad4354b66355dd797942b42,408993 3 410489 8 411985 13 413481 19 414977 2...,1500,1000,10,"101,115,129,142,152,229,295,309,340"
333375,fffc631acce2e28e1628de685d40c980,210058 15 211030 18 212002 21 212974 24 213946...,975,650,10,"103,145,150,225,295,298,317"
333400,ffffbf7014a9e408bfbb81a75bc70638,63365 36 63852 77 64343 85 64838 89 65332 94 6...,500,375,10,"102,128,142,150,295,308,317"

,ImageId,EncodedPixels,Height,Width,ClassId,AttributesIds
1386,011ea8ad74020b797bb70dff32eb965d,1454723 7 1457712 22 1460700 37 1463689 51 146...,3000,2000,11,"115,125,141,155,295,301,325"
2846,02389d8de4ec5f040c639282732b53a1,162399 1 163478 3 164556 6 164589 8 165634 9 1...,1080,1080,11,"115,126,142,154,229,295,305,306,317"
3175,026a9d4e51588f0973eea33bb81c512a,1542006 4 1543999 12 1545991 20 1547983 28 154...,1995,3000,11,"115,295,317"
3776,02e0e61e9828870674129227de56e45c,1231735 9 1234134 26 1236533 44 1238932 61 124...,2408,1673,11,"115,125,141,154,295,316,317"
3854,02f6c36c2a99353edadbeb93931346f8,1294686 38 1297639 113 1300612 169 1303513 16 ...,3000,2000,11,"115,135,141,155,234,295,316,317"
...,...,...,...,...,...,...
330948,fe05e6d28b36fee9b3b9227d613e80b5,275926 9 277524 13 279120 19 280713 29 282306 ...,1600,1067,11,"115,125,137,141,155,229,295,298,317"
331168,fe31fb1a96780626756d473ba5a87af4,7803789 63 7809121 71 7814453 78 7819785 86 78...,5336,3837,11,"115,136,142,149,229,295,316,331"
331561,fe8702c3e0b29091a557a00eb6056570,2250178 7 2253666 21 2257154 35 2260642 49 226...,3500,2333,11,"115,125,142,155,229,295,316,317"
332808,ff89d127a396bc4e269161fcb0debafc,157993 7 158979 21 159966 34 160952 48 161938 ...,1000,667,11,"115,128,136,141,295,305,325"
332938,ffa63ad62b2c50d67402d215af1133ee,108466 2 108921 5 109375 9 109829 11 110283 10...,455,682,11,"115,132,142,229,295,316,318"

,ImageId,EncodedPixels,Height,Width,ClassId,AttributesIds
103,000e973c99dc090afd7898c93daf0dbc,5889525 12 5894431 36 5899346 51 5904270 57 59...,4928,3264,14,NaN
710,0084d5a59b959293507052f5679d1be5,6663362 49 6668544 54 6673726 59 6678908 65 66...,5184,3456,14,NaN
791,0091ae902cb738e4ca06038c2654fa00,714885 7 716680 20 718474 33 720269 46 722065 ...,1800,1200,14,NaN
1018,00cd5bb501e031aeeeeb337fb3f5b6d8,167360 2 168159 5 168959 5 169758 6 170557 7 1...,800,534,14,NaN
1088,00df4e94fea28af045f51846858a2e3e,7960563 6 7966169 18 7971775 31 7977381 43 798...,5616,3744,14,NaN
...,...,...,...,...,...,...
332930,ffa52a33c743c48512a85169251c9ffa,1080453 5 1082452 13 1084451 21 1086449 27 108...,2000,1316,14,NaN
333101,ffc20018d3b87df69ae61f1c38a1257a,524898 7 526492 19 528086 27 529681 33 531275 ...,1600,1067,14,NaN
333155,ffd7077c30443a0d3f1cb1e0588bf41c,6156002 9 6161185 25 6166367 43 6171549 60 617...,5184,3456,14,NaN
333194,ffdd857f6f41f95adf6ae5c3ab8c3fc1,279920 6 280920 13 280951 19 281961 53 283003 ...,1044,700,14,NaN
333231,ffe4f3ce004fdd1e691f48d6281211a2,173328 4 173785 12 174242 20 174700 27 175161 ...,462,819,14,NaN

,ImageId,EncodedPixels,Height,Width,ClassId,AttributesIds
194,0024bec9284de7d329da7be884ec74bd,2171250 11 2174489 32 2177727 54 2180965 77 21...,3252,1860,21,NaN
195,0024bec9284de7d329da7be884ec74bd,3208361 4 3211612 10 3214863 16 3218114 23 322...,3252,1860,21,NaN
256,00375f11809c48821f56051b55b8e8dc,130080 4 130926 12 131773 20 132620 27 133466 ...,851,566,21,NaN
257,00375f11809c48821f56051b55b8e8dc,98615 6 99464 16 100314 20 101163 26 102012 31...,851,566,21,NaN
280,0039366c35ed742e5bfc6a278b699720,693894 21 695495 29 697095 32 698695 35 700296...,1600,1067,21,NaN
...,...,...,...,...,...,...
333151,ffd7077c30443a0d3f1cb1e0588bf41c,11247374 8 11252542 24 11257710 40 11262879 56...,5184,3456,21,NaN
333265,ffebc44ef1bbb5067632bfa26383e425,3062336 4 3065335 10 3068334 16 3071334 21 307...,3000,2000,21,NaN
333266,ffebc44ef1bbb5067632bfa26383e425,3443389 6 3446390 18 3449391 30 3452392 42 345...,3000,2000,21,NaN
333331,fff36676cdac2dd8d057783f0e9f24cc,730829 2 733081 6 735333 9 737585 13 739837 17...,2256,1500,21,NaN
333332,fff36676cdac2dd8d057783f0e9f24cc,1684877 15 1687133 29 1689389 43 1691645 57 16...,2256,1500,21,NaN

,ImageId,EncodedPixels,Height,Width,ClassId,AttributesIds
13,0002ec21ddb8477e98b2cbb87ea2e269,3077799 43 3080792 52 3083786 60 3086779 70 30...,3000,1997,23,NaN
14,0002ec21ddb8477e98b2cbb87ea2e269,2678617 8 2681610 18 2684607 25 2687605 31 269...,3000,1997,23,NaN
29,00048c3a2fb9c29340473c4cfc06424a,329326 3 330300 8 331276 12 332253 15 333231 1...,975,650,23,NaN
30,00048c3a2fb9c29340473c4cfc06424a,283509 4 284484 10 284549 2 285459 12 285520 7...,975,650,23,NaN
34,0006ea84499fd9a06fefbdf47a5eb4c0,236871 1 237870 3 238869 6 239869 8 240868 10 ...,1000,667,23,NaN
...,...,...,...,...,...,...
333371,fffb65463df408e308983ef743b77491,4079457 7 4082457 8 4085456 11 4088446 5 40884...,3000,2247,23,NaN
333379,fffc631acce2e28e1628de685d40c980,284625 4 285597 12 286569 20 287541 25 288513 ...,975,650,23,NaN
333380,fffc631acce2e28e1628de685d40c980,288552 15 289525 18 290475 2 290498 20 291447 ...,975,650,23,NaN
333390,fffe20b555b98c3c1f26c8dfff275cbc,3800472 4 3803465 12 3806458 20 3809451 29 381...,3000,2001,23,NaN
333391,fffe20b555b98c3c1f26c8dfff275cbc,2915555 2 2918553 4 2921550 7 2924547 9 292754...,3000,2001,23,NaN

'cardigan'

In [10]:
# def make_folder(folder_name): # í´ë” ìƒì„± í•¨ìˆ˜

#     if not os.path.isdir(folder_name):
#         os.mkdir(folder_name)

# for i in my_category_dict:
#     print(my_category_dict.get(i))
#     make_folder('./data/train_by_category_ver2/' + my_category_dict.get(i) + '/')

In [11]:
mask_list = []
# ë©”ëª¨ë¦¬ë•Œë¬¸ì— ë‚˜ëˆ ì„œ í•´ì•¼í•¨ ã… ã… 
n = 0  # ë°”ê¿”ì•¼í• ê±°

for i in range(100):
    df_tmp = my_sort_df[i*10+n*10:i*10+10+n*10]
    # display(df_tmp)
    image_ids = df_tmp['ImageId'].unique()[:10]
    if image_ids == []:
        pass
    else:
        masks, images_meta = create_mask_this_df(df_tmp)
        
        mask_list = mask_list + masks
    print(n+i)
        
print(mask_list[0].shape)
print(len(mask_list))

/home/ubuntu/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages/ipykernel_launcher.py:9: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  if __name__ == '__main__':

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
(4000, 6000)
1000

In [12]:
print(len(mask_list))

1000

In [13]:
k = 0
l = 0 # ë°”ê¿”ì•¼í• ê±°
for a in my_sort_df['ImageId'][l+0:l+1000]:
    # print(a)
    image = mpimg.imread('./data/kaggle_FGVC/train/{}.jpg'.format(a))
    try:
        if image.shape[0] > 6000 or image.shape[1] > 6000:
            pass
    #     print(image_copy.shape)
    #     print(my_mask.shape)
    #    th,my_mask = cv2.threshold(my_mask,0,255,cv2.THRESH_OTSU)
        else:
            image_copy = image.copy()
            my_mask = mask_list[k].copy()
            my_mask = (my_mask*1).astype('uint8')
            masked = cv2.bitwise_or(image_copy,image_copy,mask=my_mask)

            img = np.zeros(masked.shape, dtype="uint8")
            try:
                masked[np.where((masked==[0,0,0]).all(axis=2))] = [255,255,255]
            except:
                print('fail ', l)
        cv2.imwrite('./data/train_by_category_ver2/{}/{}.jpg'.format(my_category_dict.get(3), l), masked)  # ë°”ê¿”ì•¼í• ê±°
        
    except:
        print('image error : shape : ', image.shape)
    
    
    
    k += 1
    l += 1
    
    print(l)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
fail  165
166

/home/ubuntu/anaconda3/envs/tensorflow2_p36/lib/python3.6/site-packages/ipykernel_launcher.py:20: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.

167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
fail  253
254
255
256
257
258
259
260
261
fail  261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
fail  501
502
503
504
505
506
507
508
509
510
511
512
513
fail  513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
fail  701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000

In [14]:
print(k)
print(a)

1000
e332bcf8fe973b00755f8db6d4af64a7

In [15]:
image = mpimg.imread('./data/kaggle_FGVC/train/{}.jpg'.format(a))
image_copy = image.copy()
my_mask = mask_list[999].copy()
cv2.imwrite('./data/sample.jpg', image_copy)
cv2.imwrite('./data/sample_mask.jpg', my_mask)

True